 body{
  margin: 0px;
 }
 
 
 /*TOP BAR*/
  
  div#topbar {
    background-color: #000000;
    font-size: 36pt;
    font-family: 'Abel';
    color: #898d93;
    transform: translateY(-6px);
    text-align: right;
  }
  
  /*MAP*/
  
  #map {
    background-color: gray;
    transform: translateY(-6px);
    width: 100vw;
    height: 91vh;
  }